<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation" {%if page.url == "/"%}class ="active" {%endif%} ><a href="http://bernovie.github.io">Home</a></li>
    <li role="presentation" {%if page.url == "/blog/"%}class ="active" {%endif%}><a href="/blog/index.html">Blog</a></li>
    <li role="presentation" {%if page.url == "/experiments/"%}class ="active" {%endif%}><a href="/experiments/index.html">Experiments</a></li>
    <li role="presentation" {%if page.url == "/about/"%}class ="active" {%endif%}><a href="/about/index.html">About</a></li>
    <li role="presentation" {%if page.url == "/contact/"%}class ="active" {%endif%}><a href="/contact/index.html">Contact</a></li>
  </ul>
</nav>
<h3 class="text-muted"><a href = "http://bernovie.github.io" style="color: rgba(201, 134, 134, 1)" >Test Site #1</a></h3>
