<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
        <!--- Narrow Jumbotron Example -->
    <div class="container">
      <div class="header clearfix">
{% include navigation.html %}
      </div>

      <div class="jumbotron">
          <!-- <img src="imgs/road.jpg"> -->
          <h1>Code, Math, Life</h1>
          <p class="lead">TThis is a blog were I post random stuff that I consider interesting in the world of programming and math. Everynow and then you'll also have to tolerate posts were I post my opinion.</p>
          <p><a class="btn btn-lg btn-success" href="arbol.html" role="button">Try the Tree</a></p>
        </div>

      <div class="content">
        {{ content }}
      </div>
{% include footer.html %}
    </div> <!-- /container -->
    <!--- Narrow Jumbotron Example Finishes Here -->
{% include scripts.html %}
</body>
</html>
