<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
        <!--- Narrow Jumbotron Example -->
    <div class="container">
      <div class="header clearfix">
{% include navigation.html %}
      </div>

      <div class="jumbotron">
          <!-- <img src="imgs/road.jpg"> -->
          <h1>Test Site #1</h1>
          <p class="lead">Esta es una pagina presentando mi familia hasta 3 generaciones arriba de mi</p>
          <p><a class="btn btn-lg btn-success" href="arbol.html" role="button">Prueba el Arbol</a></p>
        </div>

      <div class="content">
        {{ content }}
      </div>
{% include footer.html %}
    </div> <!-- /container -->
    <!--- Narrow Jumbotron Example Finishes Here -->
{% include scripts.html %}
</body>
</html>
